
<div class="relative">
  <h1>Usuários</h1>
  <div class="sidebar-menu">
      <ul>
          <li>
            <%= link_to '<i class="fa fa-plus"></i>Inserir'.html_safe, new_user_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-arrow-left"></i>Voltar'.html_safe, apps_path %>
          </li>
      </ul>
  </div>
</div>
<% if notice %>
<p class="alert alert-success alert-dismissable"><%= notice %></p>
<% end %>
<table class="table table-hover">
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td>
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) %>
    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

